<div class="row">
   <div class="col-xs-12">
     <div class="panel panel-default">
       <div class="panel-heading clearfix">
         <h2>{{entry?.title}}</h2>
         <div class="pull-left">
           <img [src]="entry?.imageUrl" alt="{{entry?.company}}" class="img-responsive">
         </div>
         <div class="pull-right toolbar">
           <button class="btn btn-primary dropdown-toggle" (click)="onEdit()">Edit
           </button>
           <button class="btn btn-danger dropdown-toggle" (click)="onDelete()">Delete
           </button>
         </div>
       </div>
     
     <div class="panel-body">
       <div class="list-group-item-heading">
         <b>{{entry?.date}}</b>
       </div>
    
     <div class="list-group-item-heading">
       {{entry?.actions}}
     </div>
   </div> 
 </div>
 </div>
 </div>,